/* FONTS */

@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: bold;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

body.dark {
	background-color: black;
	color: #03A062;
	margin: 0;
}

.d-dark {
	display: none;
}

body.dark .d-dark  {
	display: initial;
}

body.dark .d-dark-none {
	display: none;
}

html {
	box-sizing: border-box;
	height: 100%;
}

html [lang=it] {
	display: none;
}

*, *:before, *:after {
	box-sizing: inherit;
}

*:focus {
    outline: none;
}

main {
	flex: 1 0 auto;
}

/* BACKGROUNDS */

.bg-primary {
    background-color: #5EBCE5 !important;
}

.bg-secondary {
    background-color: #B678E6 !important;
}

.bg-sdanger {
    background-color: #E25B61 !important;
}

/* BUTTONS */

.btn-primary {
    color: #fff;
    background-color: #5EBCE5;
    border-color: #5EBCE5;
}

.btn-primary:hover {
    opacity: 0.8;
    color: #fff;
    background-color: #5EBCE5;
    border-color: #5EBCE5;
}

.btn-secondary {
    color: #fff;
    background-color: #B678E6;
    border-color: #B678E6;
}

.btn-secondary:hover {
    opacity: 0.8;
    color: #fff;
    background-color: #B678E6;
    border-color: #B678E6;
}

.btn-danger {
    color: #fff;
    background-color: #E25B61;
    border-color: #E25B61;
}

.btn-danger:hover {
    opacity: 0.8;
    color: #fff;
    background-color: #E25B61;
    border-color: #E25B61;
}

.btn-info {
    color: #fff;
    background-color: #5EBCE5;
    border-color: #5EBCE5;
}

.btn-info:hover {
    opacity: 0.8;
    color: #fff;
    background-color: #5EBCE5;
    border-color: #5EBCE5;
}

body.dark .btn-primary,
body.dark .btn-secondary,
body.dark .btn-success,
body.dark .btn-danger,
body.dark .btn-warning,
body.dark .btn-info,
body.dark .btn-light,
body.dark .btn-dark,
body.dark .btn-link {
    color: #03A062;
    background-color: black;
    border-color: #03A062;
}

body.dark .btn-primary:hover,
body.dark .btn-secondary:hover,
body.dark .btn-success:hover,
body.dark .btn-danger:hover,
body.dark .btn-warning:hover,
body.dark .btn-info:hover,
body.dark .btn-light:hover,
body.dark .btn-dark:hover,
body.dark .btn-link:hover {
    color: #03A062;
    background-color: black;
    border-color: #03A062;
}

body.dark .btn-group>.btn,
body.dark .btn-group>.btn:hover {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

h1 a {
	font-weight: bold;
	text-decoration: none;
	color: white;
}

h1 a:hover {
	text-decoration: none;
	color: white;
}

body.dark h1 a {
	color: #03A062;
}

.about-section {
	padding: 0; /*30px 15px 15px;*/
	text-align: center;
	background-color: #B678E6;
	background-image: linear-gradient(to right, #5EBCE5, #B678E6, #E25B61);
	color: white;
    margin-bottom: 0.5rem;
}

body.dark .about-section {
	background-color: black;
	background-image: none;
	color: #03A062;
	border-bottom: 2px solid #03A062;
}

.icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	column-gap: 10px;
	row-gap: 10px;
	margin: 10px 0;
}

.icons img {
	cursor: pointer;
	width: 45px;
}

.card {
	margin-bottom: 15px;
}

.card .card-body.hashtag {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: left;
	align-content: left;
	column-gap: 10px;
	row-gap: 0px;
	padding-top: 0;
}

.card .card-body.hashtag .tag {
	color: grey;
}

body.dark .card .card-body.hashtag .tag {
	color: #03A062;
}

body.dark .card {
	background-color: black;
	border-radius: 0;
	border: 2px solid #03A062;
}

body.dark .card-img,
body.dark .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card .card-body .title {
	color: grey;
}

body.dark .card .card-body .title {
	color: #03A062;
}

@media screen and (min-width: 992px) {
	.main .column {
		width: 50%;
	}
}

/* NAV */

.topnav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	column-gap: 0;
	background-color: #1A1A1A;
	overflow: hidden;
}

body.dark .topnav {
	background-color: black;
}

/* Style the links inside the navigation bar */
.topnav a {
	cursor: pointer;
	flex-grow: 1;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

body.dark .topnav a {
	color: #03A062;
}

.topnav a:nth-child(1):hover,
.topnav a:nth-child(1):active {
	background-color: #5EBCE5;
}

.topnav a:nth-child(2):hover,
.topnav a:nth-child(2):active {
	background-color: #B678E6;
}

.topnav a:nth-child(3):hover,
.topnav a:nth-child(3):active {
	background-color: #E25B61;
}

body.dark .topnav a:nth-child(2) {
	border-left: 2px solid #03A062;
	border-right: 2px solid #03A062;
}

body.dark .topnav a:hover,
body.dark .topnav a:active {
	color: black;
	background-color: #03A062;
}

/* FOOTER */

footer {
	flex-shrink: 0;
	background-color: #1a1a1a;
	padding: 15px;
	text-align: center;
	color: white;
}

body.dark footer {
	background-color: black;
	color: #03A062;
	border-top: 2px solid #03A062;
}

/* SWIPER */

/* For pagination on top */
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, auto);
    top: var(--swiper-pagination-top, 8px);
}

.swiper-slide > .title {
	position:absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.7);
	text-align: center;
	font-weight: bold;
	/* py-2 */
	padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}